@import 'nib'
@import '../../node_modules/jeet/stylus/jeet'
@import '_mixins.styl'
@import 'normalize.css'
//@import '../oembed/oembed.css'
@import '../lib/jquery.royalslider/royalslider.css'
@import '../lib/jquery.royalslider/rs-default.css'

$desktop = 1100px
$padding = 20px
$dot = 6px

$primary ?= white
$secondary ?= black
$regular = "NH", "Helvetica", sans-serif
$bold = "NHB", "Helvetica", sans-serif

// CSS Reset
global-reset()
//edit()

//webfont('NH', 'NH', true, 'normal')
webfont('NHB', 'NHB', true, 'bold')

html
	font-size 62.5%
	
body
	font-family $bold
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 2rem
	line-height 1em

::-webkit-scrollbar
	display none

::selection
	color $primary
	background $secondary
	
::-moz-selection
	color $primary
	background $secondary

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	position relative
	cursor pointer

.opening
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 90000
	background #FFFFFF
	cursor pointer
	img
		width 120px
		align()
		transform(translate(-58%, -40%))

.no-js .opening
	display none

header
	text-align center
	position fixed
	width 60%
	left 20%
	top 50%
	margin-top -20px
	z-index 1000
	hideselect()
	transition(all, 600ms)
	ul
		transition(all, 600ms)

nav.primary
	flexbox()
	top 50%
	justify-content space-between
	position relative
	#m-production, #m-creative
		position relative
		transition(font-size, 600ms)
		font-size 3rem
	div.active::before
		content ''
		background url('../images/dot.png') 100% 100%
		background-size 100% 100%
		display block
		width $dot
		height $dot
		position absolute
		left -12px
		top 50%
		margin-top -($dot/2)
	#logo
		//align()
		position absolute
		top 0
		left 50%
		vendor(transform-style, preserve-3d)
		transform(translateX(-58%))
		img
			transition()
			width 120px

ul.secondary
	position fixed
	top calc(100% - 30px)
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display inline-flex
	font-size 1.2rem
	li
		position relative
		margin 0 5px
	li.active
		margin 0 5px 0 16px
	li.active::before
		content ''
		background url('../images/dot.png') 100% 100%
		background-size 100% 100%
		display block
		width $dot
		height $dot
		position absolute
		left -12px
		top 50%
		margin-top -($dot/2)

.credits
	position fixed
	width 200px
	height 15px
	bottom -5px
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	line-height 0
	ul
		display inline-flex
		font-size 1.2rem
		//margin-top 6px
	li
		transition()
		visibility hidden
		opacity 0
		position relative
		margin 0 5px
		cursor pointer
		line-height 1em
	li.active
		margin 0 5px 0 16px
	li.active::before
		content ''
		background url('../images/dot.png') 100% 100%
		background-size 100% 100%
		display block
		width $dot
		height $dot
		position absolute
		left -12px
		top 50%
		margin-top -($dot/2)
	span.dot
		transition()
		opacity 1
		text-align center
		position absolute
		top 50%
		left 50%
		width 20px
		margin -1px -10px
	span.dot::before
		content ''
		background url('../images/dot.png') 100% 100%
		background-size 100% 100%
		display block
		width $dot
		height $dot
		position absolute
		top 50%
		margin-top -($dot/2)

.credits:hover, body#legal .credits, body#credits .credits
	li
		visibility visible
		opacity 1
	span
		opacity 0
		visibility hidden

header.reduced
	top ($padding * 2)
	nav.primary
		top 0
		#m-production, #m-creative
			font-size 2rem
		#logo
			img
				width 70px
				+below($desktop)
					width 90px
	ul.secondary
		bottom initial
		top 70px

nav.mobile
	transition()
	opacity 0
	visibility hidden
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255,0.8);
	z-index: 20000;
	ul > li:nth-child(-n+2)
		font-size 3rem
		margin 15px 0
	ul > li:nth-child(2)
		margin-bottom 30px
	ul > li
		position relative
		font-size 1.5rem
		margin 5px 0
	ul > li > a
		position relative
	li.active
		a::before
			content ''
			background url('../images/dot.png') 100% 100%
			background-size 100% 100%
			display block
			width $dot
			height $dot
			position absolute
			left -12px
			top 50%
			margin-top -($dot/2)

nav.mobile.is-visible
	opacity 1
	visibility visible

footer
	hideselect()
	transform(rotate(-90deg))
	vendor(transform-origin, 100% 100%)
	position fixed
	bottom 100%
	right 5px
	width 100vh
	font-size 0.9rem
	text-align center

#container
	transition()
	opacity 0
 
.wrap
	width 40%
	margin-right auto
	margin-left auto
	+below($desktop)
		width 80%
	p
		font-size 2rem
		text-align center
		line-height 1.2em
		margin-bottom 1em
		+below($desktop)
			font-size 1.8rem
	strong
		-webkit-text-stroke 1px
		-webkit-text-fill-color transparent

@-moz-document url-prefix() {
    .wrap strong {
        mix-blend-mode: darken;
        color: white;
        text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
}

.lazyload, .lazyloading
	opacity 0

.lazyloaded
	opacity 1
	transition(opacity)
	
////////////////////////////////////////////////////////////////// FORM

/* MailChimp Form Embed Code - Classic - 08/17/2011 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#c60; font-size:200%;}
#mc_embed_signup .mc-field-group .asterisk {position:absolute; top:25px; right:10px;}        
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

input, #mc_embed_signup .mc-field-group input, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus
	-webkit-appearance none
	-moz-appearance none
	border-radius 0
	background-color transparent
	border-style solid
	border 0
	color rgba(0, 0, 0, 1)
	display block
	font-weight 200
	margin 0 0 1rem 0
	padding 0.5rem
	width 100%
	text-align center
	box-shadow none
	line-height 1em
	color black
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	-webkit-transition border-color 0.15s linear, background 0.15s linear
	-moz-transition border-color 0.15s linear, background 0.15s linear
	-ms-transition border-color 0.15s linear, background 0.15s linear
	-o-transition border-color 0.15s linear, background 0.15s linear
	transition border-color 0.15s linear, background 0.15s linear

div.mce_inline_error, div.response
	text-align center
	font-size 2rem
	line-height 1em

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
	background-color transparent

input:focus, textarea:focus
	outline none

[type='submit']
	display none
	border none

::-webkit-input-placeholder
	color black

:-moz-placeholder
	color black

::-moz-placeholder
	color black

:-ms-input-placeholder
	color black
	

////////////////////////////////////////// PAGE

.wrap#page, .legal-container .wrap, .credits-container .wrap
	height 100vh
	display flex
	align-items center
	justify-content center

body#legal
	.wrap
		width 100%
		margin 0
		p, ul, li
			font-size 0.72vw
			line-height 1.3em
			text-align left
			+below($desktop)
				font-size 1rem
		.inner
			vendor(column-count, 4)
			padding ($padding+5)
			padding-top 80px
			box-sizing border-box
			height 100%
			overflow hidden
			+below($desktop)
				overflow scroll
				vendor(column-count, initial)
			p
				margin-bottom 1em

body#newsletter
	.wrap
		width 60%
	form
		width 100%
		font-size 3.3rem
		+below($desktop)
			font-size 1.8rem
	

////////////////////////////////////////// HOME

.homeslider
	width 100%
	height 100%
	position absolute
	top 0
	background none
	z-index 0
	img
		vendor(filter,grayscale(1))


////////////////////////////////////////// CATEGORY

.index-btn
	display none
	font-size 1.2rem
	line-height 1em
	cursor pointer
	position fixed
	bottom $padding
	right $padding

.index-btn.back
	display block

.category.list
	//margin-top 100px
	+below($desktop)
		width 90%
	.index-btn.open
		display block
	.project
		height 100vh
		position relative
		+below($desktop)
			margin 30px 0
			overflow hidden
		.inner
			position absolute
			height 75%
			top 50%
			left 50%
			text-align center
			transform(perspective(1px) translate(-50%,-50%))
			cursor pointer
			+below($desktop)
				width 100%
				height auto
			img
				transition(all, 700ms)
				height 100%
				width auto
				vendor(filter,grayscale(1))
				vendor(backface-visibility, hidden)
				+below($desktop)
					width 100%
					height auto
			.infos
				transition(all, 1500ms)
				width 100%
				height 100%
				position absolute
				top 0
				left 0
				opacity 0
				background-color rgba(255,255,255,0.2)
				.overlay_absolute
					position absolute
					width 100%
					height 100%
					z-index 20000
				.overlay_table
					display table
					width 100%
					height 100%
				.overlay_cell
					display table-cell
					vertical-align middle
					text-align center
					position relative
				p
					font-size 1.5rem
					margin-bottom 0
				p:last-child
					margin-top 1em

		.inner:hover
			img
				vendor(filter,grayscale(0))
			.infos
				opacity 1


.category.index
	margin-top 100px
	flexbox()
	justify-content center
	flex-wrap wrap
	width 65%
	+below($desktop)
		width 100%
	height 100vh
	.index-btn.close
		display block
	.project:nth-child(even)
		margin 0 5% 5% 0
	.project:nth-child(odd)
		margin 0 15% 0 0
	.project:nth-child(3n)
		width 30%
		margin 4%
	.project:nth-child(6n)
		margin 0 25% 10% 0
	.project
		width 23%
		float left
		.inner
			position relative
			width 100%
			height auto
			transform(perspective(1px))
			cursor pointer
			padding $padding/2
			box-sizing border-box
			img
				transition(all, 700ms)
				width 100%
				vendor(filter,grayscale(1))
				vendor(backface-visibility, hidden)
			.infos
				display none
				transition(all, 1500ms)
				width 100%
				height 100%
				position absolute
				top 0
				left 0
				opacity 0
				background-color rgba(255,255,255,0.2)
				.overlay_absolute
					position absolute
					width 100%
					height 100%
					z-index 20000
				.overlay_table
					display table
					width 100%
					height 100%
				.overlay_cell
					display table-cell
					vertical-align middle
					text-align center
					position relative
				p
					font-size 1.5rem
					margin-bottom 0
				p:last-child
					margin-top 1em

		.inner:hover
			img
				vendor(filter,grayscale(0))
			.infos
				opacity 1
////////////////////////////////////////// PROJECT

.projectslider
	width 100%
	margin-top 100px
	height calc(100% - 160px)
	position absolute
	top 0
	background none
	z-index 0
	.rsThumb
		vendor(filter,grayscale(1))

.projectInfos
	position absolute
	bottom $padding
	left $padding
	font-size 1.2rem
	line-height 1.2em

.fullscreen
	font-size 1.2rem
	line-height 3em
	cursor pointer
	
.fullscreen.open
	width 100%
	text-align center

.fullscreen.close
	display none
	color #fff
	position fixed
	bottom $padding
	right $padding
	z-index 2147483648
	line-height 1em
	
/////// MOBILE

footer, .rsThumbs, .fullscreen, .credits, header.desktop #m-production, header.desktop #m-creative, header.desktop .secondary
	+below($desktop)
		display none
